@model IEnumerable<Mix_Master.Models.TBLUserInfo>

@{
    ViewBag.Title = "About";
}

<head>
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css">
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('https://i.ibb.co/jZwF1Zx/bg.jpg');">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Crafting Cocktails with Ease&nbsp;</span><span class="site-heading-lower"><b>MixMaster</b></span></h1>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://i.ibb.co/7pv2KbR/about.jpg">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">TIMELESS LEGACY, PREMIUM LIBATIONS</span><span class="section-heading-lower">&nbsp;ABOUT OUR BAR</span></h2>
                            <p>Established in 2023 by the visionary Group 8, MixMaster proudly upholds a tradition of excellence. Our commitment is to source the finest spirits and libations from across the globe, ensuring that every sip tells a story of craftsmanship and quality.</p>
                            <p class="mb-0">Step into our world, where you'll be enchanted from the first pour to the final toast. Whether it's your daily ritual, an evening with friends, or a moment of solitude, we invite you to join us and embark on a journey through the realm of premium libations.</p><br />
                            <p>The concept of responsible drinking is rooted in ethical principles such as personal accountability, respect for others, and social responsibility. By drinking responsibly, we can minimize harm to ourselves and others, and contribute to a healthier and more sustainable drinking culture.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;MixMaster 2023</p>
        </div>
    </footer>
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/current-day.js"></script>
</body>