@{
    ViewBag.Title = "Index";
}

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('https://i.ibb.co/YZDnPbW/bg.jpg');">
    <br /><br />
    <h1 class="text-center text-white">My Favorites</h1><br />
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-white">CockTails</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var drink in Model)
                    {
                        <tr>
                            <td class="text-white">@drink.Recipe</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><br /><br />
    <footer class="text-center footer text-faded py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;MixMaster 2023</p>
        </div>
    </footer>
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/current-day.js"></script>
</body>