@model IEnumerable<Mix_Master.Models.TBLUserInfo>

@{
    ViewBag.Title = "Index";
}

<body style="background:linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('/wwwroot/images/bg.jpg');">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="site-heading-lower"><b>MixMaster</b></span></h1>
    <h2 class="text-center text-white">Crafting Cocktails with Ease</h2>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="~/wwwroot/images/intro.jpg">
                <div class="text-center intro-text p-5 rounded bg-faded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">Elevate Your Evenings with Us</span><span class="section-heading-lower">Worth Drinking</span></h2>
                    <p class="mb-3">
                        Savor the perfect blend of libations. Our crafted cocktails and premium spirits make every happy hour an unforgettable experience. Join us and raise a glass to unforgettable evenings.
                    </p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="#">Visit Us Today!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span class="section-heading-lower">To You</span></h2>
                        When you turn to our cocktail assistant, you're met with not just a service, but a warm and welcoming atmosphere. Our commitment is to offer you top-notch cocktail solutions crafted from the finest ingredients. Your satisfaction is our priority. If you're not delighted, please inform us, and we'll go the extra mile to ensure your experience is nothing short of exceptional!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;MixMaster 2023</p>
        </div>
    </footer>
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/current-day.js"></script>
</body>