@model IEnumerable<Mix_Master.Models.TBLUserInfo>

@{
    ViewBag.Title = "Store";
}

<head>
    <link rel="stylesheet" href="~/wwwroot/css/bootstrap.min.css">
</head>

<body style="background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('https://i.ibb.co/YZDnPbW/bg.jpg');">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">Crafting Cocktails with Ease&nbsp;</span><span class="site-heading-lower">Business Casual</span></h1>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="text-center cta-inner rounded">
                        <h3 class="section-heading mb-5">Get ready to sip, savor, and celebrate—our new bar is opening its doors soon!</h3>
                        <ul class="list-unstyled text-left mx-auto list-hours mb-5">
                            <li class="d-flex list-unstyled-item list-hours-item">Sunday<span class="ml-auto">Closed</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Monday<span class="ml-auto">7:00 AM to 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Tuesday<span class="ml-auto">7:00 AM to 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Wednesday<span class="ml-auto">7:00 AM to 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Thursday<span class="ml-auto">7:00 AM to 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Friday<span class="ml-auto">7:00 AM to 8:00 PM</span></li>
                            <li class="d-flex list-unstyled-item list-hours-item">Saturday<span class="ml-auto">9:00 AM to 5:00 PM</span></li>
                        </ul>
                        <p class="address mb-5"><em><strong>MixMaster</strong><span><br>Near McMaster University, Hamilton</span></em></p>
                        <p class="address mb-0"><small><em>Call Anytime</em></small><span><br>(647) 904-8411</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-lg-10 col-xl-9 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4"><span class="section-heading-upper">CRAFTED SPIRITS, TIMELESS TRADITION</span><br /><span class="section-heading-lower">About Our Bar</span></h2>
                            <p>Born from a legacy of passion and expertise, our bar, established in 1987, has been dedicated to sourcing the finest spirits from around the world. Just as the Hernandez brothers scoured South and Central America for exquisite coffee, we traverse the globe to bring you the most exceptional libations.</p>
                            <p class="mb-0">
                                From the first sip to the last, our decadent blends are bound to captivate your senses. Join us for a daily rendezvous, an evening with friends, or moments of solitude, and embark on a timeless journey through the world of crafted spirits.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5">
        <div class="container">
            <p class="m-0 small">Copyright&nbsp;©&nbsp;MixMaster 2023</p>
        </div>
    </footer>
    <script src="~/wwwroot/js/jquery.min.js"></script>
    <script src="~/wwwroot/js/bootstrap.min.js"></script>
    <script src="~/wwwroot/js/current-day.js"></script>
</body>